# Rename this file to .env

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=



# Pooled Neon connection string
DATABASE_URL=""

# Unpooled Neon connection string (optional)
DIRECT_URL=""



GEMINI_API_KEY=



# CLERK_SIGN_UP_FALLBACK_URL='/onboarding'
# CLERK_SIGN_IN_FALLBACK_REDIRECT_URL='/dashboard'



INNGEST_EVENT_KEY=

INNGEST_SIGNING_KEY=